#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v


%:
	dh $@

override_dh_auto_configure:
	autoconf
	dh_auto_configure -- --no-create \
	  --enable-doc --enable-nativecode --with-vimfiles

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -- doc

override_dh_installchangelogs:
	dh_installchangelogs -k

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/bedwyr/usr/share/bedwyr/examples/mute.pl
	chmod +x debian/bedwyr/usr/share/bedwyr/examples/ccs_vp/timing/sq
