body
{ margin-left:  5%;
  background: #fff;
  color: #000;
  font-family: Verdana,Sans-serif;
  margin-right: 5%;
  color: black;
}
h1
{ width: 100%; font-size: large; font-weight: bold;
  border: solid black; border-width: 0 0 1px 0;
  margin-top: 0; margin-bottom: 0; padding-bottom: 0.2ex;
}

h2,h3 {font-weight: bold; font-size: medium; margin-bottom: 0;}

