body {
    margin: 0;
    background-color: #EED;
    color: #332;
    font-size: 11pt;
}

a {
    color: #339;
    text-decoration: none;
}

ul {
    list-style: square;
}

li {
    padding: 3px;
}

#header {
    background-color: #AA9;
    padding: 20px 20px;
}

#header .title {
    font: bold 24pt Arial, Verdana, sans-serif;
    color: #332;
    margin: 0;
}

#header .subtitle {
    font: italic bold 12pt Arial, Verdana, sans-serif;
    color: #332;
    margin: 0;
}

#footer {
    background-color: #AA9;
    padding: 20px 20px;
}

.section {
    padding: 0.25em 1em;
    margin: 1em; 
    width: 65%;
}

.section .title {
    font: bold 14pt Arial, Verdana, sans-serif;
    margin: 0;
}

.section .body {
    text-align: justify;
    margin: 5px 0 0 0;
}

.section .speaker {
    font: italic 10pt Arial, Verdana, sans-serif;
    margin: 0;
} 

.day {
    font: bold 12pt Arial, Verdana, sans-serif;
    padding: 10px 5px 0px;
}

td {
    padding: 4px;
}

.time {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
}

.ampm {
    font-size: 80%;
}

.talk {
    padding: 1em;
    margin: 1em; 
    width: 65%;
}

.talk .title {
    font: bold 14pt Arial, Verdana, sans-serif;
    margin: 0;
}

.talk .speaker {
    font: italic 10pt Arial, Verdana, sans-serif;
    margin: 0;
}

.talk .slides {
    font: italic 10pt Arial, Verdana, sans-serif;
    margin: 0;
} 


.talk .abstract {
    font-size: 11pt;
    margin: 1em 0 0 0;
    text-align: justify;
}
