#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v

#clean:

build-arch:
	dh_testdir -a
	autoconf
	dh_auto_configure -- --libdir=/usr/lib --no-create \
	  --enable-nativecode --with-vimfiles --with-xmlm
	dh_auto_build -a
	dh_auto_test -a

build-indep:
	dh_testdir -i
	autoconf
	dh_auto_configure -- --libdir=/usr/lib --no-create \
	  --enable-doc
	dh_auto_build -i -- doc

build:
	dh_testdir
	autoconf
	dh_auto_configure -- --libdir=/usr/lib --no-create \
	  --enable-nativecode --enable-doc --with-vimfiles --with-xmlm
	dh_auto_build
	dh_auto_build -- doc
	dh_auto_test

#binary-arch:
#binary-indep:
#binary:

#install-indep:
#install-arch:
#install:

override_dh_installchangelogs:
	dh_installchangelogs -k

override_dh_link:
	dh_link -X.vim

override_dh_fixperms-arch:
	dh_fixperms
	chmod +x debian/bedwyr/usr/share/bedwyr/examples/mute.pl
	chmod +x debian/bedwyr/usr/share/bedwyr/examples/ccs_vp/timing/sq

%:
	dh $@
